@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    width: 100%;
    scroll-behavior: smooth;
    
}






.section{
    padding-left: 20px;
    padding-right: 20px;
}

@media (width>=400px) {
 .section{
    padding-left: 30px;
    padding-right: 30px;
}   
}


@media (width>=640px) {
 .section{
    padding-left: 35px;
    padding-right: 35px;
}   
}


@media (width>=768px) {
 .section{
    padding-left: 40px;
    padding-right: 40px;
}   
}


@media (width>=1024px) {
 .section{
    padding-left: 50px;
    padding-right: 50px;
}   
}

@media (width>=1280px) {
 .section{
    padding-left: 100px;
    padding-right: 100px;
}   
}

.autoShowOpacity{
    animation: autoShowOpacityAnimation both ;
    animation-timeline: view();
}

@keyframes autoShowOpacityAnimation {
    0%{
       
        transform: translateY(50px) scale(0.7);
    }
    40%,75%{
       
        transform: translateY(0) scale(1);
    }
    100%{
        
        transform: translateY(50px) scale(0.7);
    }
}





.inforamtionAutoShow{
    animation: inforamtionAutoShowAnimation 0.5s linear;
}

@keyframes inforamtionAutoShowAnimation {
    from{
        scale: 0.5;
        opacity: 0.5;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}



